*{
    margin: 0;
    padding: 0;
    font-family: cursive;
   background-image: url(bgtic.webp);
}
.game{
    
    display: flex;
    justify-content: center;
}
.box{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
}
.input{
    border: 2px solid black;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;   
}
 .input:hover{
    background-color:aquamarine ;
}
.br0{
    border-right: 0;
}
.bl0{
    border-left: 0;
}
.bt0{
    border-top: 0;
}
.bb0{
    border-bottom: 0;
}
.reset{
    height: 40px;
    width: 80px;
    background-color: aquamarine;
    border-radius: 25px;
    margin: 2px;
    padding: 2px;
    font-size: larger;
    font-weight: 20px;
    box-shadow: 1px 1px 1px 1px black;
}
.reset:hover{
    box-shadow: 2px 2px 2px 2px black;
}
nav{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: black;
}
.turn{
    margin: 10px;
    padding: 20px;
}
.win{
    height: 30px;
    width: 40px;
    background-color: yellow;
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}
@media screen and (max-width: 800px){
    .game{
        flex-wrap: wrap;
    }
    .box { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}